// Set your brand colors

$mainDark: #637189;
$mainContrast: #ff8080;
$mainVariation: #a7bc79;

$neutral: #ffe6bd;
$light: #fff0dd;
$dark: #3d3533;


// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
